---
import Layout from '@templates/Layout.astro';
import Picture from '@templates/mixin/Picture.astro';
import Container from '@templates/mixin/Container.astro';
import Card from '@components/Card.astro';

// Cardプロパティ
const cards = [
  {
    class: 'c-card--contents',
    href: 'page.html',
    vis: './assets/images/thum-sample_01.jpg',
    alt: 'サンプルカード01',
    title: 'カードタイプ01',
    dtl: 'この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れていま',
  },
  {
    class: 'c-card--contents',
    href: 'page.html',
    vis: './assets/images/thum-sample_02.jpg',
    alt: 'サンプルカード02',
    title: 'カードタイプ02',
    dtl: 'この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れていま',
  },
  {
    class: 'c-card--contents',
    href: 'page.html',
    vis: './assets/images/thum-sample_03.jpg',
    alt: 'サンプルカード03',
    title: 'カードタイプ03',
    dtl: 'この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れていま',
  },
]
---

<Layout>
  <div class="p-main">
    <Container>
      <Picture 
      srcPaths={['img-sample_pc.jpg','img-sample_sp.jpg']}
      media='768' 
    />	
    </Container>
  </div>
  <div class="p-contents">
    <Container class="p-contents__inner">
      <ul class="p-contents__list">
        {cards.map(card =>(
          <Card
            class={card.class}
            href={card.href}
            vis={card.vis}
            alt={card.alt}
            title={card.title} 
            dtl={card.dtl} 
          />
        ))}
      </ul>
    </Container>
  </div>
</Layout>

<style lang="scss">
  .p-contents {
    margin-top: 80px;
    &__list {
      display: block;
      width: auto;
      @include mq-up(md) {
        display: flex;
        align-items: flex-start;
        margin-right: -20px;
        margin-left: -20px;
      }
    }
  }

  .p-main {
    margin-top: 80px;
  }
</style>