---
type Props = {
  class?: string;
  href?: string;
  title?: string;
  dtl?: string;
  vis?: string;
  alt?: string;
};

const { title, href = '#', dtl, class: className, vis, alt = '' } = Astro.props;
---

<li class:list={["c-card", className]}>
  <a href={href} class="c-card__inner">
    <div class="c-card__vis">
      <img src={vis} alt={alt}>
    </div>
    <div class="c-card__meta">
      <h2 class="c-card__name">
        {title}
      </h2>
      <p class="c-card__dtl">
        {dtl}
      </p>
    </div>
  </a>
</li>

<style lang="scss">
  .c-card {
    width: 100%;
    &--contents {
      @include mq-up(md) {
        width: calc(100% / 3);
        padding-right: 20px;
        padding-left: 20px;
      }
      +.c-card--contents {
        margin-top: 32px;
        @include mq-up(md) {
          margin-top: 0;
        }
      }
    }
    &__inner {
      @include hover {
        .c-card__vis img {
          transform: scale(1.15);
        }
      }
    }
    &__vis {
      width: 100%;
      height: 180px;
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .28s cubic-bezier(0.15, 0.72, 0.47, 0.97)
      }
    }
    &__meta {
      margin-top: 12px;
      @include mq-up(md) {
        margin-top: 16px;
      }
    }
    &__name {
      font-weight: bold;
      line-height: 1.4;
      font-size: fn-rem(17);
      @include mq-up(md) {
        font-size: fn-rem(18);
      }
    }
    &__dtl {
      line-height: 1.6;
      margin-top: 8px;
      font-size: fn-rem(14);
      @include mq-up(md) {
        margin-top: 12px;
        font-size: fn-rem(16);
      }
    }
  }
</style>